body {    
    padding: 0;
    margin: 0;    
    height: #{$slide-height}px;
    width: #{$slide-width}px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6,
p, a, li, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.content {
    height: 568px;
    padding: 0 20px;
}