// Slide Global Dimensions
$slide-height: 768;
$slide-width: 1024;

// Fonts
$font-url: "../../fonts/";
// Interstate Fonts
$font-interstate-regular: 'Interstate-Regular';
$font-interstate-bold: 'Interstate-Bold';
$font-interstate-black-regular: 'InterstateBlack-Regular';
$font-interstate-light-regular: 'InterstateLight-Regular';

// Colors
$primary-color: #0f6cb6;
$secondary-color: #5fc5ba;
$tertiary-color: #e7f6f5;
$fourth-color: #5fc5ba;
$gray-color: #58585a;
$black-color: #000000;
$white-color: #ffffff;